.corpo2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: black;
}
.kombe{
    width: 100%;
    height: 450px;
    background-image: url(Imagens/kombe.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.descubra{
    font-family: "Jura", sans-serif;
    color: rgba(255, 255, 255, 1);
    position: relative;    
}
#descubra1{
    text-align: center;
    padding: 5% 20% 3% 20%;
    font-size: 30px;  
}
#descubra2{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border: solid rgba(255, 255, 255, 1) 3px;
    border-radius:35px;
    font-size: 25px;
    margin: 0% 30% 0% 30%;
    padding: 2% 0% 2% 0%;
}
#seta{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 15px;
}
@media (max-width: 992px) {
    .corpo2 {
      flex-direction: column;
      height: auto;
    }
    .kombe {
      height: 300px;
      background-size: cover;
    }
    #descubra1 {
      font-size: 24px;
      padding: 5% 10% 3% 10%;
    }
    #descubra2 {
      font-size: 20px;
      margin: 0 25%;
      padding: 1.5% 0 30px;
    }
    #seta {
      width: 40px;
      right: 10px;
      bottom: 10px;
    }
  }
  @media (max-width: 576px) {
    .kombe {
      height: 200px;
    }
    #descubra1 {
      font-size: 20px;
      padding: 10% 8%;
    }
    #descubra2 {
      font-size: 18px;
      margin: 0 20% 30px;
      padding: 1rem 0;
    }
    #seta {
      width: 30px;
      right: 5px;
      bottom: 5px;
    }
  }
