#rowcorpo3{
    position: relative;
    padding: 3%;
    z-index: 2;
}
#infopag3{
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    font-size: 25px;
    background-color: rgba(104, 105, 49, 1);
    border-radius: 15px;
    margin: 0% 10%;
    padding: 3%;
    font-weight: bolder;
    border: none;
    transition: 0.1s;
}
#infopag3:active{
    transform: translateY(3px);
}
.colcorpopag3{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 25px;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
    width: 466px;
    height: 530px;
}
.formulario{
    padding: 30% 10% 10% 10%;
}
.opcao{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 40px;
    padding: 10%;
}