.corpo3{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: rgba(180, 155, 44, 0.25);
}
.floresta{
    width: 100%;
    height: 450px;
    background-image: url(Imagens/floresta2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.explora{
    font-family: "Jura", sans-serif;
    color: rgba(0, 0, 0, 1);    
}
#explora1{
    text-align: center;
    padding: 18% 20% 3% 20%;
    font-size: 30px;  
}
#explora2{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    border: solid rgba(0, 0, 0, 1) 3px;
    border-radius:35px;
    margin: 0% 30% 0% 30%;
    padding: 2% 0% 2% 0%;
    font-size: 25px;
}
#seta2{
    position: absolute;
    display: flex;
    bottom: 20px;
}
@media (max-width: 992px) {
    .corpo3 {
      flex-direction: column;
      height: auto;
    }
    .floresta {
      height: 300px;
      background-size: cover;
    }
    #explora1 {
      font-size: 24px;
      padding: 10% 10% 3% 10%;
    }
    #explora2 {
      font-size: 20px;
      margin: 0 25%;
      padding: 1.5% 0 30px;
    }
    #seta2 {
      width: 40px;
      bottom: 10px;
      right: 10px;
    }
  }
  @media (max-width: 576px) {
    .floresta {
      height: 200px;
    }
    #explora1 {
      font-size: 20px;
      padding: 10% 8%;
    }
    #explora2 {
      font-size: 18px;
      margin: 0 20% 30px;
      padding: 1rem 0;
    }
    #seta2 {
      width: 30px;
      bottom: 5px;
      right: 5px;
    }
  }