*{
    margin: 0px 0px 0px 0px;
}
.navbar-nav .nav-link {
    font-size: 25px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 1);
    font-family: "Josefin Slab", serif;
  }
  .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    font-family: "Josefin Slab", serif;
  }
.nav1{
    position: relative;
    height: 630px;
    background-image: url(Imagens/Heros.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.row2{
    padding-top: 250px;
    padding-left: 290px;
    color: white;
    font-size: 85px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.row5{
    margin-top: 3px;
    margin-left: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
@media (max-width: 992px) {
    .navbar-nav .nav-link {
      font-size: 20px;
      padding: 10px 0px 2px 10px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 2px 500px 0px 0px;
    }
  
    .navbar-brand {
      font-size: 24px;
    }
  
    .row2 {
      padding-top: 80px;
      padding-left: 70px;
      font-size: 55px;
      text-align: center;
    }
  
    .nav1 {
      height: 500px;
    }
  }
  @media (max-width: 992px) {
    .navbar-nav .nav-link {
      font-size: 18px;
      padding: 8px 0;
    }
    .navbar-brand {
      font-size: 22px;
    }
    .row2 {
      padding-top: 60px;
      padding-left: 20px;
      font-size: 40px;
      text-align: center;
    }
    .nav1 {
      height: 400px;
      background-size: cover;
    }
    .row5 {
      margin-left: 5px;
    }
  }