*{
    margin: 0px 0px 0px 0px;
}
.nav1{
    position: relative;
    height: 630px;
    background-image: url(Imagens/Heros.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.nave{
    top: 5%;
    position: absolute;
    display: flex;
    justify-content:end;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: bold; 
}
#paragrafo{
    padding-left:5%;
}
.row2{
    padding-top: 250px;
    padding-left: 300px;
    color: white;
    font-size: 85px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}