#rowcorpo3{
    position: relative;
    padding: 3%;
    z-index: 1;
}
#infopag3{
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    font-size: 25px;
    background-color: rgba(104, 105, 49, 1);
    border-radius: 15px;
    margin: 0% 10%;
    padding: 3%;
    font-weight: bolder;
    border: none;
    transition: 0.1s;
}
#infopag3:active{
    transform: translateY(3px);
}
.colcorpopag3{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 25px;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);  
    height: 580px;
}
.formulario{
    padding: 39% 10% 10% 10%;
}
.opcao{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 40px;
    padding: 10%;
}
.mapa{
    height: 320px;
}
.endereco{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 35px;
    height: 206px;
    margin-left: 47%;
    top: 60%;
}
.textopag4{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    text-align:justify;
    color: rgba(255, 255, 255, 1);
}
#living{
    font-size: 25px;
    padding: 4% 0% 0% 10%;
}
#ruaDaAlegria{
    font-size: 20px;
    padding-left: 10%;
    margin-bottom: 0%;
}
#cep, #email{
    font-size: 20px;
    padding-left: 10%;
}
@media (max-width: 992px) {
    #rowcorpo3{
        flex-direction: column;
    }
    #infopag3 {
      font-size: 20px;
      margin: 4% auto;
      display: block;
      width: 100%;
    }
  
    .colcorpopag3 {
      height: auto;
      font-size: 20px;
      padding: 5%;
      order: -1;
      margin-left: 33%;
      margin-bottom: 5%;
    }
  
    .formulario {
      padding: 20% 5% 5% 5%;
    }
  
    .opcao {
      font-size: 30px;
      padding: 5%;
    }
  
    .endereco {
      position: relative;
      margin: 0% auto;
      width: 100%;
      top: auto;
      left: auto;
      height: auto;
      padding: 5% 20% 2% 20%;
      order: 2;
    }
  
    .mapa {
      height: 250px;
      order: 1;
      margin-bottom: 5%;
      margin-left: 33%;

    }
    #living,
    #ruaDaAlegria,
    #cep,
    #email {
      font-size: 18px;
      padding-left: 5%;
    }
    #email{
      overflow-wrap: break-word;
      color: blue;
      text-decoration: underline;
    }
  
}
  @media (max-width: 576px) {
    #infopag3 {
      font-size: 18px;
      padding: 4%;
      width: 90%;
    }
  
    .colcorpopag3 {
      font-size: 18px;
    }
  
    .opcao {
      font-size: 25px;
      text-align: center;
    }
  
    .formulario {
      padding: 15% 5% 5% 5%;
    }
  
    .mapa {
      height: 200px;
    }
  
    #living,
    #ruaDaAlegria,
    #cep,
    #email {
      font-size: 16px;
      padding-left: 5%;
    }
    #email{
        font-size: 10px;
    }
    .endereco {
      width: 100%;
      padding: 5%;
      font-size: 16px;
    }
  }