#rowcorpo3{
    position: relative;
    padding: 3%;
    z-index: 2;
}
#infopag3{
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    font-size: 25px;
    background-color: rgba(104, 105, 49, 1);
    border-radius: 15px;
    margin: 0% 10%;
    padding: 3%;
    font-weight: bolder;
    border: none;
    transition: 0.1s;
}
#infopag3:active{
    transform: translateY(3px);
}
.colcorpopag3{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 25px;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);  
    height: 580px;
}
.formulario{
    padding: 39% 10% 10% 10%;
}
.opcao{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 40px;
    padding: 10%;
}
.mapa{
    height: 320px;
}
.endereco{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 35px;
    height: 206px;
    margin-left: 47%;
    top: 60%;
}
.textopag4{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    text-align:justify;
    color: rgba(255, 255, 255, 1);
}
#living{
    font-size: 25px;
    padding: 4% 0% 0% 10%;
}
#ruaDaAlegria{
    font-size: 20px;
    padding-left: 10%;
    margin-bottom: 0%;
}
#cep, #email{
    font-size: 20px;
    padding-left: 10%;
}