#rowcorpo3{
    position: relative;
    padding: 3%;
    z-index: 2;
}
#infopag3{
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    font-size: 25px;
    background-color: rgba(104, 105, 49, 1);
    border-radius: 15px;
    margin: 0% 10%;
    padding: 3%;
    font-weight: bolder;
    border: none;
    transition: 0.1s;
}
#infopag3:active{
    transform: translateY(3px);
}
.colcorpopag3{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 25px;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
    width: 466px;
    height: 530px;
}
.formulario{
    padding: 30% 10% 10% 10%;
}
.opcao{
    font-family: "Jura", sans-serif; 
    font-weight: bolder;
    font-size: 40px;
    padding: 10%;
}
@media (max-width: 991px){
    .colcorpopag3 {
      width: 100%;
      height: auto;
      font-size: 22px;
      
      padding-top: 10%;
      padding-bottom: 10%;
    }
    #infopag3 {
      font-size: 22px;
      margin: 5% auto;
      padding: 3% 6%;
    }
    .formulario {
      padding: 20% 5% 5% 5%;
    }
    .opcao {
      font-size: 30px;
      padding: 8%;
    }
  }
  @media (max-width: 572px) {
    .colcorpopag3 {
      width: 100%;
      height: auto;
      font-size: 20px;
      margin: 0% auto 0% auto;
      padding: 30% 0;
    }
    #infopag3 {
      font-size: 20px;
      padding: 10px 20px;
      margin: 5% auto;
    }
    .formulario {
      padding: 10% 0%;
    }
    .opcao {
      font-size: 24px;
      padding: 6%;
      text-align: center;
    }
  }